{% extends "base.html" %}

{% block title %}Nova Venda{% endblock %}

{% block content %}
<div>
    <form class="formulario">
     <p>
        <label for="cliente">Cliente:</label>
            <input type="text" name="Cliente" id="cliente">
    </p>
     <p>
        <label for ="codprod">Codigo do Produto: </label> 
            <input type="text" name="Codigo-do-produto" id="codprod">
    </p>    
    <p>
        <label for ="qntven">Quantidade: </label>
            <input type="text" name="Quantidade-ven" id="qntven">
    </p>
    <p>
        <label for="dataven">Data da Venda: </label>
            <input type="date" name="Data-ven" id="dataven">
    </p>
    <p>
        <label for="forpag">Forma de Pagamento: </label> 
            <input type="text" name="Form-pag" id="forpag">
    </p>
    <p>
            <input type="submit" value="Registrar Venda">
    </p>
    </form>
</div>
{% endblock %}