# --- Excel e Dados ---
*.xlsx
*.xls
*.csv
src/*.xlsx
src/*.xls
~$*.xlsx

# --- SQLite ---
*.db
*.sqlite3

# --- Python (Arquivos temporários e Cache) ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/
Tests/.tmp/

# --- VS Code ---
.vscode/
*.code-workspace



