{% extends "base.html" %}

{% block title %}Clientes{% endblock %}

{% block content %}

<div id="Clientes">
     <div class="estoque-tabela-wrapper">
        <table class="estoque-tabela" id="tabelaEstoque">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                {% for c in cli  %}
                <tr>
                    <td class="col-produto">{{ c.id }}</td>
                    <td class="col-produto">{{ c.nome }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2" class="tabela-vazia">Nenhum participante cadastrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form class="formulario" action="{{ url_for('clientes.clientes') }}" method="POST">
    <p>
        <label for="nome">Nome do cliente</label>
        <input type="text" name="nome" id="nome" placeholder="Nome do cliente" required>
    </p>
    <p>
        <input type="submit" value="Cadastrar novo Cliente">
    </p>
    </form>
</div>
{% endblock %}

