@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-weight: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cabecalho {
    text-align: center;
    padding-top: 5px;
    background-color: #333;

}
.logo-img,
.icones{
    width: 50px;
    height: 80px;
    padding-bottom: 30px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; 
}
.menu-nav {
    display: grid;
    grid-template-columns: repeat(4, 200px); 
    gap: 10px;
}
.menu-nav a {
    text-decoration: none;            
}
.menu-item{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: flex-start; 
    width: 200px;
    height: 150px;
    text-decoration: none;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin: auto;
    font-family: "Poppins" ,"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 10px;
    gap: 5px;
    text-align:  center;
    transition: opacity 0.2s ease;
    cursor: pointer;
   
}
.menu-item:hover {
    opacity: 0.85;
}





/* ICONES INTERATIVOS NO rodape*/
.rodape-icones{
    position: fixed;  
    bottom: 0;        
    left: 0;          
    width: 100%;      
    padding: 5px;
    background-color: #333;
}

.icones-interativos-form{
    width: 20px;
    height: 20px;
    padding-bottom: 1px;
}
.menu-icones-interativos{
    display: grid;
    grid-template-columns: repeat(7, 50px); 
    gap: 2px;
    text-align: center;
}

.icones-interativos{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.icones-interativos:hover {
    opacity: 0.85;
}



#venda{background-color: rgb(76, 175, 80);}
#compra{background-color: rgb(28, 124, 226);}
#estoque{background-color: rgb(255, 152, 0);}
#contas-pagar{background-color: rgb(244,67,54);}
#contas-receber{background-color: rgb(0,150,136);}
#clientes{background-color: rgb(156,39,176);}
#participantes{background-color: rgb(16, 211, 185);}
#download{background-color: rgb(97, 56, 3);}