{% extends "base.html" %}

{% block title %}participantes{% endblock %}

{% block content %}

<div id="Participantes">
     <div class="estoque-tabela-wrapper">
        <table class="estoque-tabela" id="tabelaEstoque">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                {% for p in partic  %}
                <tr>
                    <td class="col-produto">{{ p.id }}</td>
                    <td class="col-produto">{{ p.nome }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2" class="tabela-vazia">Nenhum participante cadastrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <form class="formulario" action="{{ url_for('participantes.participantes') }}" method="POST">
    <p>
        <label for="nome">Nome do participante</label>
        <input type="text" name="nome" id="nome" placeholder="Nome do participante" required>
    </p>
    <p>
        <input type="submit" value="Cadastrar novo Participante">
    </p>
    </form>

</div>
{% endblock %}

